<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Today</h1>
    <% day = Time.new %>
    <p>The date is <%= day.strftime("%A, %B %d, %Y")%></p>
  </body>
</html>
